# Git
.git
.gitignore

# Docker
.dockerignore

# IDE settings
.vscode/
.idea/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environments
.venv
venv/
env/
